---
// Layout IMPORT
import Head from "./Head.astro";

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
} = Astro.props;
---

<html lang="en">
	<Head {title} {description} />
	<body>
		<slot> Default Text</slot>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
